<mat-toolbar>Reuniões Cadastradas</mat-toolbar>

<div class="home-content">
  <mat-card class="home-card">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>nome</mat-card-title>
      <mat-card-subtitle>data</mat-card-subtitle>
      <mat-card-subtitle>inicio</mat-card-subtitle>
      <mat-card-subtitle>fim</mat-card-subtitle>
    </mat-card-header>


    <mat-card-actions>
      <button color="accent" mat-raised-button (click)="open()">ABRIR</button>
    </mat-card-actions>
  </mat-card>
</div>
