<mat-toolbar class="app-title">Cadastrar Reunião</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" *ngIf="create">
    <form autocomplete="off" novalidate [formGroup]="create" (ngSubmit)="submit()" (ngReset)="reset()">
      <mat-card-content>
        <app-input-text titulo="Nome" controlName="name" [formGroup]="create"></app-input-text>
        <app-input-text titulo="Data" controlName="date" [formGroup]="create"></app-input-text>
        <app-input-text titulo="Hora de Início" controlName="startHour" [formGroup]="create"></app-input-text>
        <app-input-text titulo="Hora de Termino" controlName="endHour" [formGroup]="create"></app-input-text>

      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
